<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Critter Scatterer</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body id="main-body">
    <script type="text/JavaScript" src="/js/front.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <noscript>You need to enable JavaScript to view the full content.</noscript>
    <svg id="fader"></svg>
    <script>
        fadeInPage();
    </script>

    <img class="title-img" src="/images/Critter_Scatterer.svg" alt="Title Icon">
    <!-- <img class="titleImg" src="/Icon Font/Critter Scatterer.svg" alt="Title Icon"> -->
    <div class="main-buttons">
        <a href="options.html">
            <button class="btn effect01">
                <div class="icon-Side-Options-Active"></div>
                <span>Options</span>
            </button>
        </a>
        <a href="events.html">
            <button class="btn effect01">
                <div class="icon-Side-Events-Active"></div>
                <span>Events</span>
            </button>
        </a>
        <a>
            <button class="btn effect01">
                <div class="icon-Sensor-Button"></div>
                <span>Sensors</span>
            </button>
        </a>
    </div>
</body>
</html>