/*-------------------------------*/
/*  Options Page Content Format  */
/*-------------------------------*/

/*Options page body format*/
#options-body {
    font-family: 'OpenSans', sans-serif;
    font-size: 1rem;
    line-height: 2;
    display: flex;
        flex-direction: row;
        align-items: center;
    position: relative;
    min-height: fit-content;
    height: 100%;
    background-image: var(--backgroundGradient);
}

#options-container {
    display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    margin-left: 20px;
    position: relative;
    height: 100%;
    width: 100%;
}

/*-------------------------------*/
/*      Mobile Device Formats    */
/*-------------------------------*/
@media only screen and (max-device-width: 480px) {
    /*If on mobile, change to column layout*/
    #options-body {
        flex-direction: column;
    }

    /*If on mobile, center items*/
    #options-container {
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 10px;
    }
}