<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Critter Scatterer</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/events.css">
</head>
<body id="events-body">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/JavaScript" src="/js/front.js"></script>
    <noscript>You need to enable JavaScript to view the full content.</noscript>
    <svg id="fader"></svg>
    <script>
        fadeInPage();
    </script>

    <!--Sidebar menu-->
    <nav class="main-menu">
        <ul>
            <li>
                <a href="options.html">
                    <i class="menu-icon icon-Side-Options-Active"></i>
                    <span class="nav-text">
                        Options
                    </span>
                </a>
            </li>
            <li>
                <a href="events.html">
                    <i class="menu-icon icon-Side-Events-Active"></i>
                    <span class="nav-text">
                        Events
                    </span>
                </a>
            </li>
            <li class="back">
                <a href="index.html">
                    <i class="menu-icon icon-Back-Button"></i>
                    <span class="nav-text">
                        Home
                    </span>
                </a>
            </li>
        </ul>
    </nav>

    <!--Mobile menu-->
    <nav class="mobile-menu">
        <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open" />
        <label class="menu-open-button" for="menu-open">
            <span class="lines line-1"></span>
            <span class="lines line-2"></span>
            <span class="lines line-3"></span>
        </label>
    
        <a href="options.html" class="menu-item blue"> 
            <i class="icon-Side-Options-Active"></i>
        </a>
        <a href="events.html" class="menu-item blue"> 
            <i class="icon-Side-Events-Active"></i> 
        </a>
        <a href="index.html" class="menu-item blue"> 
            <i class="icon-Back-Button"></i> 
        </a>
    </nav>

    <!--Content wrapper-->
    <div id="events-container">
        <img class="container-img" src="/images/Events_Text.svg" alt="Events Icon">

        <!--Tabs container-->
        <div class="tab-container">
            <input class="radio" id="one" name="group" type="radio" checked>
            <input class="radio" id="two" name="group" type="radio">

            <div class="tabs">
                <label class="tab" id="one-tab" for="one">TODAY</label>
                <label class="tab" id="two-tab" for="two">OLDER</label>
            </div>
            
            <div class="panel-container">
                <div class="panel" id="one-panel">
                    <div class="list-container">
                        <ul id="today-logs">
                            <p>No data yet!</p>
                        </ul>
                    </div>
                </div>

                <div class="panel" id="two-panel">
                    <div class="list-container">
                        <ul id="older-logs">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Info display container-->
    <div id="data-container">
            <div class="data-panel">
                <ul id="data">
                    <div>
                        <li>Date</li>
                        <!--Used to hold text info-->
                        <p id="Date"></p>
                    </div>
                    <span></span>
                    
                    <div>
                        <li>Time</li>
                        <p id="Time"></p>
                    </div>
                    <span></span>

                    <div>
                        <li>Animal</li>
                        <p id="Animal"></p>
                    </div>
                    <span></span>

                    <div>
                        <li>Deterrent</li>
                        <p id="Deterrent"></p>
                    </div>
                    <span></span>
                </ul> 
            </div>
    </div>
</body>
</html>