<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Critter Scatterer</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/options.css">
    <link rel="stylesheet" href="/css/sidebar.css">
</head>

<body id="options-body">
    <script type="text/JavaScript" src="/js/front.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <noscript>You need to enable JavaScript to view the full content.</noscript>
    <svg id="fader"></svg>
    <script>
        fadeInPage();
    </script>

    <!--Sidebar menu-->
    <nav class="main-menu">
        <ul>
            <li>
                <a href="options.html">
                    <i class="menu-icon icon-Side-Options-Active"></i>
                    <span class="nav-text">
                        Options
                    </span>
                </a>
            </li>
            <li>
                <a href="events.html">
                    <i class="menu-icon icon-Side-Events-Active"></i>
                    <span class="nav-text">
                        Events
                    </span>
                </a>
            </li>
            <li class="back">
                <a href="index.html">
                    <i class="menu-icon icon-Back-Button"></i>
                    <span class="nav-text">
                        Home
                    </span>
                </a>
            </li>
        </ul>
    </nav>

    <!--Mobile menu-->
    <nav class="mobile-menu">
        <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open" />
        <label class="menu-open-button" for="menu-open">
            <span class="lines line-1"></span>
            <span class="lines line-2"></span>
            <span class="lines line-3"></span>
        </label>
    
        <a href="options.html" class="menu-item blue"> 
            <i class="icon-Side-Options-Active"></i>
        </a>
        <a href="events.html" class="menu-item blue"> 
            <i class="icon-Side-Events-Active"></i> 
        </a>
        <a href="index.html" class="menu-item blue"> 
            <i class="icon-Back-Button"></i> 
        </a>
    </nav>

    <!--Options container-->
    <div id="options-container">
        <img class="container-img" src="/images/Options_Text.svg" alt="Options Icon">
        <div><h1>This is content 1</h1></div>
        <div><h1>This is content 2</h1></div>
    </div>
</body>

</html>